*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: #246C60;
  color: #6CA299;
}

a.btn, .button-trello {
  color: white !important;
  background: none;
}

.panel {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  border-color: #023D4A;
}

.panel-heading {
  background-color: #023D4A;
  color: #6CA299;

}


body {
  font-size: 14px;
  padding: 50px;
  background-color: #D8D8D8;
}

a { color: #00B7FF; }

.welcome {
  max-width: 1000px;
}
