

<div ng-hide="vm.membersLoaded || vm.dataService.selectedTeam.currentMeeting">
  <h1>You haven't started your standup yet!</h1>
  <button type="submit" ng-click="vm.startMeeting();"class="btn btn-default">Start A New Meeting</button>
</div>

<div ng-show="vm.membersLoaded || vm.dataService.selectedTeam.currentMeeting">
  <h4>Our meeting started on {{vm.dataService.selectedTeam.currentMeeting.createdAt | date: 'MM/dd/yyyy'}}</h4>
<!--   <h4>We are waiting for members {{[]}} to complete their reports.</h4>
  <h4>The meeting closes at {{''}}!</h4> -->
</div>

  <div class="container">
    <div class="row">
      <div class="reportCard col-md-6">
        <div class="{{vm.dataService.selectedTeam.trelloBid}}">
          <div class="panel" ng-repeat="report in vm.dataService.selectedTeam.currentMeeting.reports">
            <div id="{{report._id}}" class="panel-heading">
              <h4>{{report.memberName}}</h4>
            </div>

            <div class="drops">
              <div ng-hide="vm.dataService.sprintSelected || report.memberId != vm.authService.currentUser.id" class="dropdown">
                <button class="btn btn-lg1 dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Trello Lists <span class="caret"></span>
                </button>
                <ul class="dropdown-menu cardMenu" aria-labelledby="dropdownMenu1">
                  <li class="cardMenu" ng-repeat="list in vm.trello.lists">
                    <a ng-click="vm.dataService.generateCards(list.id, list.name)">{{list.name}}</a>
                  </li>
                </ul>
              </div>


              <div class="dropdown" ng-show="(vm.dataService.cardsFound && !vm.dataService.sprintSelected)">
                <button class="btn btn-lg1 dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sprint Cards <span class="caret"></span>
                </button>
                <ul class="dropdown-menu cardMenu" aria-labelledby="dropdownMenu1">
                  <li class="cardMenu" ng-repeat="card in vm.trello.cards">
                    <a class="cardMenu" ng-click="vm.dataService.selectCard(card.id, card.name)">{{card.name}}</a>
                  </li>
                </ul>
              </div>
             </div>

              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div ng-show="vm.dataService.sprintSelected || report.memberId != vm.authService.currentUser.id" class="form-group">
                    <div ng-show="report.memberId == vm.authService.currentUser.id" class="form-group">
                      <label for="inputSprint" class="col-sm-3 control-label">Sprint</label>
                      <div class="col-sm-9">
                        <textarea class="form-control" id="inputSprint" "{{vm.dataService.sprint.id}}"
                         placeholder ={{vm.dataService.sprint.name}}></textarea>
                      </div>
                    </div>
                    <div ng-show="report.memberId != vm.authService.currentUser.id" class="form-group">
                      <label for="inputSprint" class="col-sm-3 control-label">Sprint</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputSprint" "{{vm.dataService.sprint.id}}"
                         placeholder ="Current Sprint" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputBlocker" class="col-sm-3 control-label">Blockers</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputBLocker" ng-model="vm.dataService.reportFormData.blocker"
                        placeholder="Blockers" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputOutlook" class="col-sm-3 control-label">Outlook</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputOutlook" ng-model="vm.dataService.reportFormData.outlook"
                        placeholder="Outlook" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                      <button type="submit" class="btn btn-default" ng-click="vm.dataService.updateReport(report._id)">Submit Report</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

