<h1>Dashboard View</h1>


<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My Trello Boards
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   <li ng-repeat="board in vm.trello.myBoards">
      <a ng-click="vm.dataService.generateANewTeam(board.id, board.name)">{{board.name}}</a>
   </li>
  </ul>
</div>

<div class="btn">
  <button type="button button-danger" class="btn btn-default" ng-click="vm.dataService.getTeams();">getMyTeams</button>
</div>

<div class="container">
  <div class="row">
    <div class="panel panel-info col-md-6" ng-repeat="team in vm.dataService.teams">
      <div class="panel-body">{{team.boardName}}</div>
      <div class="panel-body">{{team.trelloBid}}</div>
    </div>
  </div>
</div>

